**purpose**: collect free data useful for gauging economy

# manual setup

In [ ]:
%env QUANDL_API_KEY=
%env OPENFEC_API_KEY=
%env ALPHAVANTAGE_API_KEY=
%env FRED_API_KEY=
%env ENIGMA_API_KEY=

# pandas datareader

In [1]:
import os
import datetime
import pandas_datareader as pdr
import pandas_datareader.data as web
from pandas_datareader import wb
from pandas_datareader.famafrench import get_available_datasets

In [18]:
# FRED
# https://fred.stlouisfed.org/
start = datetime.datetime(1900, 1, 1)
end = datetime.datetime.today()
gdp = web.DataReader('GDP', 'fred', start, end)

In [24]:
# Quandl
# https://docs.data.nasdaq.com/docs/getting-started
symbol = 'WIKI/AAPL'
start = datetime.datetime(1900, 1, 1)
end = datetime.datetime.today()
aapl = web.DataReader(symbol, 'quandl', start, end)

In [41]:
# alpha vantage
# https://www.alphavantage.co/documentation/
usd_jpy = web.DataReader("USD/JPY", "av-forex", api_key=os.getenv('ALPHAVANTAGE_API_KEY'))

In [36]:
web.get_sector_performance_av().head()

,RT,1D,5D,1M,3M,YTD,1Y,3Y,5Y,10Y
Energy,2.45%,2.44%,5.22%,17.51%,15.17%,16.38%,50.76%,7.35%,-10.05%,-5.84%
Information Technology,0.89%,0.89%,-0.06%,-3.61%,9.58%,-4.75%,27.38%,160.88%,248.93%,NaN
Communication Services,0.53%,0.53%,0.52%,-1.01%,-2.00%,-2.18%,21.75%,77.92%,51.54%,NaN
Consumer Staples,0.19%,0.19%,-0.42%,3.04%,10.49%,-0.04%,17.86%,51.67%,51.98%,NaN
Health Care,-0.17%,-0.17%,-0.28%,-1.06%,6.82%,-4.92%,14.58%,53.65%,90.73%,281.22%

In [39]:
# econdb
# https://www.econdb.com/main-indicators?country=US&freq=Q&mode=country-profile
us_cpi = web.DataReader('ticker=CPIUS', 'econdb', start, end)

In [45]:
# enigma
# https://enigma.com/our-data
# for now doesn't work
# usda_food_recals = pdr.get_data_enigma('292129b0-1275-44c8-a6a3-2a0881f24fe1', os.getenv('ENIGMA_API_KEY'))

In [24]:
# fama/french
# https://mba.tuck.dartmouth.edu/pages/faculty/ken.french/data_library.html
ds = web.DataReader('5_Industry_Portfolios', 'famafrench', start, end)

In [25]:
print(ds['DESCR'])

5 Industry Portfolios
---------------------

This file was created by CMPT_IND_RETS using the 202111 CRSP database. It contains value- and equal-weighted returns for 5 industry portfolios. The portfolios are constructed at the end of June. The annual returns are from January to December. Missing data are indicated by -99.99 or -999. Copyright 2021 Kenneth R. French

  0 : Average Value Weighted Returns -- Monthly (1145 rows x 5 cols)
  1 : Average Equal Weighted Returns -- Monthly (1145 rows x 5 cols)
  2 : Average Value Weighted Returns -- Annual (94 rows x 5 cols)
  3 : Average Equal Weighted Returns -- Annual (94 rows x 5 cols)
  4 : Number of Firms in Portfolios (1145 rows x 5 cols)
  5 : Average Firm Size (1145 rows x 5 cols)
  6 : Sum of BE / Sum of ME (96 rows x 5 cols)
  7 : Value-Weighted Average of BE/ME (96 rows x 5 cols)

In [26]:
ds

{0:          Cnsmr  Manuf  HiTec  Hlth   Other
 Date
 1926-07   5.43   2.73   1.83   1.77   2.13
 1926-08   2.76   2.33   2.41   4.25   4.35
 1926-09   2.16  -0.44   1.06   0.69   0.29
 1926-10  -3.90  -2.42  -2.26  -0.57  -2.84
 1926-11   3.70   2.50   3.07   5.42   2.11
 ...        ...    ...    ...    ...    ...
 2021-07   0.11  -0.10   3.14   3.15  -0.38
 2021-08   1.70   0.77   4.39   2.85   2.48
 2021-09  -3.29  -2.96  -6.21  -5.94  -2.35
 2021-10   8.55   5.94   6.63   2.32   7.07
 2021-11   0.46  -1.80   0.30  -4.18  -4.97

 [1145 rows x 5 columns],
 1:          Cnsmr  Manuf  HiTec  Hlth   Other
 Date
 1926-07   1.68   1.42   2.01   2.45   0.11
 1926-08   2.73   2.27   2.27   6.11   4.49
 1926-09  -0.89  -0.33   0.72   0.80  -0.61
 1926-10  -4.25  -2.92  -4.70   0.13  -2.61
 1926-11   3.46   2.09   1.36   7.20   0.92
 ...        ...    ...    ...    ...    ...
 2021-07  -3.51  -3.92  -2.73  -8.67  -2.23
 2021-08  -0.40   0.79   1.71   4.65   3.04
 2021-09  -4.67   1.14  -4.55  -5.36  -1.65
 2021-10   2.58   5.11   4.11  -3.63   3.44
 2021-11  -3.09  -4.28  -6.79 -10.66  -2.71

 [1145 rows x 5 columns],
 2:       Cnsmr  Manuf  HiTec  Hlth   Other
 Date
 1927  49.30  25.47  37.93  46.55  27.63
 1928  38.41  46.31  44.60  47.21  19.03
 1929 -35.08  -7.17   8.76 -25.20  -6.37
 1930 -21.70 -30.89 -24.87 -14.62 -32.15
 1931 -30.75 -47.31 -37.04 -15.06 -59.54
 ...     ...    ...    ...    ...    ...
 2016   5.48  20.35  13.98  -1.85  20.17
 2017  18.68  18.17  29.50  22.20  21.52
 2018  -3.58 -11.10  -0.59   4.82  -9.23
 2019  25.88  21.21  41.85  20.20  29.50
 2020  37.64   0.26  42.65  18.31   6.88

 [94 rows x 5 columns],
 3:       Cnsmr  Manuf  HiTec  Hlth   Other
 Date
 1927  26.43  31.78  37.88  56.54  37.34
 1928  38.18  51.25  59.14  32.58  30.57
 1929 -43.01 -27.61  -6.18 -17.51 -22.02
 1930 -35.04 -39.94 -39.83 -17.87 -39.68
 1931 -35.16 -48.58 -48.64 -37.21 -53.03
 ...     ...    ...    ...    ...    ...
 2016  16.05  33.62  17.30 -11.21  30.99
 2017   6.42  10.37  25.78  25.49  14.59
 2018 -14.13 -22.04  -6.48 -22.48 -13.87
 2019  17.49  12.04  27.63  25.96  26.27
 2020  42.47  18.60  65.97  63.85  12.40

 [94 rows x 5 columns],
 4:          Cnsmr  Manuf  HiTec  Hlth   Other
 Date
 1926-07    168    199     23      7    113
 1926-08    168    199     23      7    113
 1926-09    168    198     23      7    113
 1926-10    168    198     23      7    113
 1926-11    168    198     23      7    113
 ...        ...    ...    ...    ...    ...
 2021-07    502    560    678    792   1315
 2021-08    502    558    675    790   1310
 2021-09    500    557    671    789   1305
 2021-10    499    556    666    787   1293
 2021-11    498    551    663    783   1283

 [1145 rows x 5 columns],
 5:             Cnsmr     Manuf     HiTec    Hlth     Other
 Date
 1926-07     38.17     54.81    146.41    25.52    51.64
 1926-08     40.14     56.20    149.03    25.80    52.59
 1926-09     41.09     57.20    152.42    26.73    54.68
 1926-10     41.79     56.66    152.25    26.87    54.59
 1926-11     40.06     55.17    148.76    26.54    52.90
 ...           ...       ...       ...      ...      ...
 2021-07  15685.37  10476.23  25834.66  5316.43  8104.19
 2021-08  15695.57  10487.16  26686.36  5488.57  8096.23
 2021-09  16005.89  10543.64  27997.12  5642.24  8317.67
 2021-10  15485.05  10220.87  26417.42  5314.18  8183.15
 2021-11  16836.03  10899.02  28263.84  5444.46  8813.91

 [1145 rows x 5 columns],
 6:       Cnsmr  Manuf  HiTec  Hlth   Other
 Date
 1926   0.60   0.96   0.64   0.68   1.33
 1927   0.51   0.94   0.61   0.51   1.23
 1928   0.36   0.75   0.50   0.22   1.11
 1929   0.35   0.49   0.34   0.26   0.93
 1930   0.63   0.70   0.42   0.42   1.27
 ...     ...    ...    ...    ...    ...
 2017   0.24   0.38   0.24   0.20   0.48
 2018   0.22   0.38   0.21   0.19   0.46
 2019   0.22   0.41   0.20   0.19   0.46
 2020   0.22   0.48   0.18   0.19   0.57
 2021   0.16   0.32   0.13   0.16   0.39

 [96 rows x 5 columns],
 7:       Cnsmr  Manuf  HiTec  Hlth   Other
 Date
 1926   0.60   0.93   0.69   0.73   1.31
 1927   0.55   0.98   0.69   0.57   1.43
 1928   0.41   0.80   0.56   0.32   1.15
 1929   0.33   0.57   0.43   0.25   1.00
 1930   0.57   0.66   0.44   0.39   1.16
 ...     ...    ...    ...    ...    ...
 2017   0.24   0.37   0.26   0.23   0.51
 2018   0.21   0.39   0.22   0.20   0.44
 2019   0.24   0.45   0.25   0.21   0.53
 2020   0.20   0.52   0.18   0.19   0.42
 2021   0.19   0.40   0.15   0.17   0.49

 [96 rows x 5 columns],
 'DESCR': '5 Industry Portfolios\n---------------------\n\nThis file was created by CMPT_IND_RETS using the 202111 CRSP database. It contains value- and equal-weighted returns for 5 industry portfolios. The portfolios are constructed at the end of June. The annual returns are from January to December. Missing data are indicated by -99.99 or -999. Copyright 2021 Kenneth R. French\n\n  0 : Average Value Weighted Returns -- Monthly (1145 rows x 5 cols)\n  1 : Average Equal Weighted Returns -- Monthly (1145 rows x 5 cols)\n  2 : Average Value Weighted Returns -- Annual (94 rows x 5 cols)\n  3 : Average Equal Weighted Returns -- Annual (94 rows x 5 cols)\n  4 : Number of Firms in Portfolios (1145 rows x 5 cols)\n  5 : Average Firm Size (1145 rows x 5 cols)\n  6 : Sum of BE / Sum of ME (96 rows x 5 cols)\n  7 : Value-Weighted Average of BE/ME (96 rows x 5 cols)'}

In [3]:
len(get_available_datasets())

297

In [51]:
# world bank
# https://data.worldbank.org/
matches = wb.search('gdp.*capita.*const')

In [52]:
matches

,id,name,unit,source,sourceNote,sourceOrganization,topics
716,6.0.GDPpc_constant,"GDP per capita, PPP (constant 2011 internation...",,LAC Equity Lab,GDP per capita based on purchasing power parit...,b'World Development Indicators (World Bank)',Economy & Growth
10384,NY.GDP.PCAP.KD,GDP per capita (constant 2015 US$),,World Development Indicators,GDP per capita is gross domestic product divid...,"b'World Bank national accounts data, and OECD ...",Economy & Growth
10386,NY.GDP.PCAP.KN,GDP per capita (constant LCU),,World Development Indicators,GDP per capita is gross domestic product divid...,"b'World Bank national accounts data, and OECD ...",Economy & Growth
10388,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2017 internation...",,World Development Indicators,GDP per capita based on purchasing power parit...,"b'International Comparison Program, World Bank...",Economy & Growth
10389,NY.GDP.PCAP.PP.KD.87,"GDP per capita, PPP (constant 1987 internation...",,WDI Database Archives,,b'',

In [53]:
dat = wb.download(indicator='NY.GDP.PCAP.KD', country=['US', 'CA', 'MX'], start=start, end=end)

In [54]:
dat

                    NY.GDP.PCAP.KD
country       year
Canada        2020    42108.174528
              2019    44958.088687
              2018    44765.502511
              2017    44325.416776
              2016    43536.913403
...                            ...
United States 1964    21599.818705
              1963    20701.269947
              1962    20116.235124
              1961    19253.547329
              1960    19135.268182

[183 rows x 1 columns]

In [71]:
wb.search('oil.*').iloc[:,:2]

                      id                                               name
56                110115                       110115:Oils and fats (Class)
57               1101150                              1101150:Oils and fats
2066   CC.EG.CONS.OIL.PC  Per capita daily oil consumption (barrels per ...
2121      CC.GAS.PPBC.CN  Gas pipeline capacity by project status (barre...
2122      CC.GAS.PPBC.CO  Gas pipeline capacity by project status (barre...
...                  ...                                                ...
11573    SE.PRM.INFR.3.U  (De Facto) Percent of schools with functioning...
11602     SE.PRM.ISTD.11  (De Jure) Is there a policy in place to requir...
11603     SE.PRM.ISTD.12  (De Facto) Do you know if there is a policy in...
14137    TRAD.EXPT.OLFTW  Export: Animals and vegetable oil, fat and wax...
14147    TRAD.IMPT.OLFTW  Import: Animals and vegetable oil, fat and wax...

[99 rows x 2 columns]

In [77]:
ind = ['NY.GDP.PCAP.KD', 'CC.EG.CONS.OIL.PC']
dat = wb.download(indicator='CC.EG.CONS.OIL.PC', country=['US', 'CA'], start=start, end=end).dropna()
#dat.columns = ['gdp', 'cellphone']
print(dat.tail())

                    CC.EG.CONS.OIL.PC
country       year
United States 1984           0.066681
              1983           0.065146
              1982           0.066023
              1981           0.069976
              1980           0.075059

In [22]:
# OECD
# https://stats.oecd.org/
df = web.DataReader('TUD', 'oecd', start, end)
df.columns

MultiIndex([(      'Australia', 'Annual', 'Percentage of employees'),
            (        'Austria', 'Annual', 'Percentage of employees'),
            (        'Belgium', 'Annual', 'Percentage of employees'),
            (         'Canada', 'Annual', 'Percentage of employees'),
            ( 'Czech Republic', 'Annual', 'Percentage of employees'),
            (        'Denmark', 'Annual', 'Percentage of employees'),
            (        'Finland', 'Annual', 'Percentage of employees'),
            (         'France', 'Annual', 'Percentage of employees'),
            (        'Germany', 'Annual', 'Percentage of employees'),
            (         'Greece', 'Annual', 'Percentage of employees'),
            (        'Hungary', 'Annual', 'Percentage of employees'),
            (        'Iceland', 'Annual', 'Percentage of employees'),
            (        'Ireland', 'Annual', 'Percentage of employees'),
            (          'Italy', 'Annual', 'Percentage of employees'),
            (          'Japan', 'Annual', 'Percentage of employees'),
            (          'Korea', 'Annual', 'Percentage of employees'),
            (     'Luxembourg', 'Annual', 'Percentage of employees'),
            (         'Mexico', 'Annual', 'Percentage of employees'),
            (    'Netherlands', 'Annual', 'Percentage of employees'),
            (    'New Zealand', 'Annual', 'Percentage of employees'),
            (         'Norway', 'Annual', 'Percentage of employees'),
            (         'Poland', 'Annual', 'Percentage of employees'),
            (       'Portugal', 'Annual', 'Percentage of employees'),
            ('Slovak Republic', 'Annual', 'Percentage of employees'),
            (          'Spain', 'Annual', 'Percentage of employees'),
            (         'Sweden', 'Annual', 'Percentage of employees'),
            (    'Switzerland', 'Annual', 'Percentage of employees'),
            (         'Turkey', 'Annual', 'Percentage of employees'),
            ( 'United Kingdom', 'Annual', 'Percentage of employees'),
            (  'United States', 'Annual', 'Percentage of employees'),
            (   'OECD - Total', 'Annual', 'Percentage of employees'),
            (          'Chile', 'Annual', 'Percentage of employees'),
            (       'Colombia', 'Annual', 'Percentage of employees'),
            (     'Costa Rica', 'Annual', 'Percentage of employees'),
            (        'Estonia', 'Annual', 'Percentage of employees'),
            (         'Israel', 'Annual', 'Percentage of employees'),
            (         'Latvia', 'Annual', 'Percentage of employees'),
            (      'Lithuania', 'Annual', 'Percentage of employees'),
            (       'Slovenia', 'Annual', 'Percentage of employees')],
           names=['Country', 'Frequency', 'Measure'])

In [23]:
df[['Japan', 'United States']]

Country                      Japan           United States
Frequency                   Annual                  Annual
Measure    Percentage of employees Percentage of employees
Time
1960-01-01               32.299999               30.900000
1961-01-01               33.700001               29.500000
1962-01-01               34.599998               27.600000
1963-01-01               35.000000               28.500000
1964-01-01               35.500000               28.299999
...                            ...                     ...
2016-01-01               17.000000               10.100000
2017-01-01               17.500000               10.600000
2018-01-01               17.200001               10.300000
2019-01-01               16.799999                9.900000
2020-01-01                     NaN               10.300000

[61 rows x 2 columns]

In [21]:
# Eurostat
# https://ec.europa.eu/eurostat/
df = web.DataReader('tran_sf_railac', 'eurostat',start,end)
df

UNIT                                                                                      Number  \
ACCIDENT    Collisions of trains, including collisions with obstacles within the clearance gauge
GEO                                                                                      Austria
FREQ                                                                                      Annual
TIME_PERIOD
2006-01-01                                                 2.0
2007-01-01                                                 4.0
2008-01-01                                                 3.0
2009-01-01                                                 5.0
2010-01-01                                                 3.0
2011-01-01                                                 2.0
2012-01-01                                                 1.0
2013-01-01                                                 4.0
2014-01-01                                                 1.0
2015-01-01                                                 7.0
2016-01-01                                                 7.0
2017-01-01                                                 7.0
2018-01-01                                                 4.0
2019-01-01                                                 1.0
2020-01-01                                                 2.0

UNIT                                                             \
ACCIDENT
GEO         Belgium Bulgaria Switzerland Channel Tunnel Czechia
FREQ         Annual   Annual      Annual         Annual  Annual
TIME_PERIOD
2006-01-01     84.0      0.0         NaN            NaN    13.0
2007-01-01     77.0      3.0         NaN            0.0     3.0
2008-01-01     94.0      3.0         NaN            0.0     5.0
2009-01-01     34.0      3.0         5.0            0.0     5.0
2010-01-01      5.0      2.0         5.0            0.0     3.0
2011-01-01      0.0      0.0         4.0            0.0     6.0
2012-01-01      3.0      3.0         4.0            0.0     6.0
2013-01-01      1.0      2.0         6.0            0.0     5.0
2014-01-01      3.0      4.0         0.0            0.0    13.0
2015-01-01      0.0      3.0         3.0            0.0    14.0
2016-01-01      2.0      3.0         2.0            0.0     6.0
2017-01-01      1.0      1.0         3.0            0.0    11.0
2018-01-01      0.0      1.0         3.0            0.0     6.0
2019-01-01      2.0      4.0         4.0            0.0     7.0
2020-01-01      1.0      1.0         4.0            0.0    11.0

UNIT                                                                          \
ACCIDENT
GEO         Germany (until 1990 former territory of the FRG) Denmark Estonia
FREQ                                                  Annual  Annual  Annual
TIME_PERIOD
2006-01-01                                             422.0     1.0     NaN
2007-01-01                                              15.0     0.0     0.0
2008-01-01                                              13.0     0.0     0.0
2009-01-01                                              16.0     1.0     0.0
2010-01-01                                              13.0     0.0     1.0
2011-01-01                                              18.0     1.0     0.0
2012-01-01                                              23.0     1.0     3.0
2013-01-01                                              29.0     0.0     0.0
2014-01-01                                              32.0     0.0     0.0
2015-01-01                                              40.0     3.0     0.0
2016-01-01                                              29.0     3.0     3.0
2017-01-01                                              38.0     2.0     4.0
2018-01-01                                              40.0     1.0     0.0
2019-01-01                                              33.0     2.0     0.0
2020-01-01                                              40.0     3.0     0.0

UNIT                ...                                                    \
ACCIDENT            ...     Unknown
GEO         Greece  ... Netherlands Norway Poland Portugal Romania Sweden
FREQ        Annual  ...      Annual Annual Annual   Annual  Annual Annual
TIME_PERIOD         ...
2006-01-01     4.0  ...         NaN    NaN    NaN      NaN     NaN    NaN
2007-01-01     3.0  ...         NaN    NaN    NaN      NaN     NaN    NaN
2008-01-01     1.0  ...         NaN    NaN    NaN      NaN     NaN    NaN
2009-01-01     2.0  ...         NaN    NaN    NaN      NaN     NaN    NaN
2010-01-01     4.0  ...         NaN    NaN    NaN      NaN     NaN    NaN
2011-01-01     1.0  ...         NaN    NaN    NaN      NaN     NaN    NaN
2012-01-01     2.0  ...         NaN    NaN    NaN      NaN     NaN    NaN
2013-01-01     2.0  ...         NaN    NaN    NaN      NaN     NaN    NaN
2014-01-01     1.0  ...         NaN    NaN    NaN      NaN     NaN    NaN
2015-01-01     2.0  ...         NaN    NaN    NaN      NaN     NaN    NaN
2016-01-01     1.0  ...         NaN    NaN    NaN      NaN     NaN    NaN
2017-01-01     1.0  ...         NaN    NaN    NaN      NaN     NaN    NaN
2018-01-01     2.0  ...         NaN    NaN    NaN      NaN     NaN    NaN
2019-01-01     1.0  ...         NaN    NaN    NaN      NaN     NaN    NaN
2020-01-01     0.0  ...         NaN    NaN    NaN      NaN     NaN    NaN

UNIT
ACCIDENT
GEO         Slovenia Slovakia Turkey United Kingdom
FREQ          Annual   Annual Annual         Annual
TIME_PERIOD
2006-01-01       NaN      NaN    0.0            NaN
2007-01-01       NaN      NaN    0.0            NaN
2008-01-01       NaN      NaN    0.0            NaN
2009-01-01       NaN      NaN    0.0            NaN
2010-01-01       NaN      NaN    0.0            NaN
2011-01-01       NaN      NaN    0.0            NaN
2012-01-01       NaN      NaN    0.0            NaN
2013-01-01       NaN      NaN    0.0            NaN
2014-01-01       NaN      NaN    0.0            NaN
2015-01-01       NaN      NaN    0.0            NaN
2016-01-01       NaN      NaN    0.0            NaN
2017-01-01       NaN      NaN    0.0            NaN
2018-01-01       NaN      NaN    0.0            NaN
2019-01-01       NaN      NaN    NaN            NaN
2020-01-01       NaN      NaN    0.0            NaN

[15 rows x 264 columns]

# US Federal Election Commission: openFEC

# US Federal Reserve Economic Data: FRED

In [2]:
from fredapi import Fred
fred = Fred(api_key=FRED_API_KEY)
data = fred.get_series('SP500')

In [4]:
data = fred.get_series('GDP')
data

1946-01-01          NaN
1946-04-01          NaN
1946-07-01          NaN
1946-10-01          NaN
1947-01-01      243.164
                ...
2020-07-01    21138.574
2020-10-01    21477.597
2021-01-01    22038.226
2021-04-01    22740.959
2021-07-01    23202.344
Length: 303, dtype: float64

In [11]:
fred.search('ratio')

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
EMRATIO,EMRATIO,2022-01-15,2022-01-15,Employment-Population Ratio,1948-01-01,2021-12-01,Monthly,M,Percent,%,Seasonally Adjusted,SA,2022-01-07 07:44:07-06:00,72,The series comes from the 'Current Population ...
LNU02300000,LNU02300000,2022-01-15,2022-01-15,Employment-Population Ratio,1948-01-01,2021-12-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2022-01-07 07:46:12-06:00,33,The series comes from the 'Current Population ...
LNS12300060,LNS12300060,2022-01-15,2022-01-15,Employment-Population Ratio - 25-54 Yrs.,1948-01-01,2021-12-01,Monthly,M,Percent,%,Seasonally Adjusted,SA,2022-01-07 07:44:21-06:00,64,None
ISRATIO,ISRATIO,2022-01-15,2022-01-15,Total Business: Inventories to Sales Ratio,1992-01-01,2021-11-01,"Monthly, End of Period",M,Ratio,Ratio,Seasonally Adjusted,SA,2022-01-14 09:01:02-06:00,69,"Effective June 14, 2001, data were reconstruct..."
RETAILIRSA,RETAILIRSA,2022-01-15,2022-01-15,Retailers: Inventories to Sales Ratio,1992-01-01,2021-11-01,"Monthly, End of Period",M,Ratio,Ratio,Seasonally Adjusted,SA,2022-01-14 09:01:05-06:00,68,The inventories to sales ratios show the relat...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
LREM64FEPLQ156S,LREM64FEPLQ156S,2022-01-15,2022-01-15,Employment Rate: Aged 15-64: Females for Poland,2000-01-01,2021-04-01,Quarterly,Q,Percent,%,Seasonally Adjusted,SA,2021-10-13 14:39:46-05:00,1,OECD descriptor ID: LREM64FE OECD unit ID: STS...
LREM64FEPLQ156N,LREM64FEPLQ156N,2022-01-15,2022-01-15,Employment Rate: Aged 15-64: Females for Poland,1999-01-01,2021-04-01,Quarterly,Q,Percent,%,Not Seasonally Adjusted,NSA,2021-10-13 14:39:46-05:00,1,OECD descriptor ID: LREM64FE OECD unit ID: ST ...
LREM64FEPLA156N,LREM64FEPLA156N,2022-01-15,2022-01-15,Employment Rate: Aged 15-64: Females for Poland,2000-01-01,2020-01-01,Annual,A,Percent,%,Not Seasonally Adjusted,NSA,2021-04-16 12:26:01-05:00,1,OECD descriptor ID: LREM64FE OECD unit ID: ST ...
LREM64FEPLA156S,LREM64FEPLA156S,2022-01-15,2022-01-15,Employment Rate: Aged 15-64: Females for Poland,2000-01-01,2020-01-01,Annual,A,Percent,%,Not Seasonally Adjusted,NSA,2021-04-16 12:26:01-05:00,1,OECD descriptor ID: LREM64FE OECD unit ID: STS...
LREM25MAATA156N,LREM25MAATA156N,2022-01-15,2022-01-15,Employment Rate: Aged 25-54: Males for Austria,1999-01-01,2020-01-01,Annual,A,Percent,%,Not Seasonally Adjusted,NSA,2021-04-16 12:41:00-05:00,1,OECD descriptor ID: LREM25MA OECD unit ID: ST ...